bot/obj/Debug/project.razor.json
bot/.vscode/solution-explorer/template-list.json
bot/.vscode/solution-explorer/template-parameters.js
bot/obj/Debug/bot-cleaned.csproj.CoreCompileInputs.cache
bot/obj/Debug/bot-cleaned.csprojResolveAssemblyReference.cache
bot/.vscode/solution-explorer/interface.ts-template
bot/.vscode/solution-explorer/interface.cs-template
bot/.vscode/launch.json
bot/.vscode/tasks.json
bot/.vscode/solution-explorer/class.cs-template
bot/.vscode/solution-explorer/class.ts-template
bot/.vscode/solution-explorer/class.vb-template
bot/.vscode/solution-explorer/default.ts-template
bot/.vscode/solution-explorer/enum.cs-template
controller/obj/Debug/project.razor.json
controller/.vscode/solution-explorer/class.cs-template
controller/.vscode/solution-explorer/class.ts-template
controller/.vscode/solution-explorer/class.vb-template
controller/.vscode/solution-explorer/default.ts-template
controller/.vscode/solution-explorer/enum.cs-template
controller/.vscode/solution-explorer/interface.cs-template
controller/.vscode/solution-explorer/interface.ts-template
controller/.vscode/solution-explorer/template-list.json
controller/.vscode/solution-explorer/template-parameters.js
controller/obj/Debug/controller-cleaned.csproj.CoreCompileInputs.cache
controller/obj/Debug/controller-cleaned.csprojResolveAssemblyReference.cache
